.experience {
  background-color: black;
  /*color: white;*/
  height: 100vh;
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

/*.experience-h1{*/
/*  text-align: center;*/
/*  margin: 25px;*/
/*}*/
