.landing {
    background-image: url("https://i.imgur.com/FSWBj36.jpg");
    height: 100vh;
}

.landing-header {
    background-color: transparent;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing-header a {
    color: white;
    font-weight: bold;
    margin: 0 25px;
}

.landing-header a:hover {
    color: #484848;
}