.mapSidebar {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: white;
    max-width: 100vw;
    
}

.tab-content {
    box-sizing: border-box;
    padding: 10px;
}

.map-sidebar-main {
    height: calc(100vh - 61px - 50px);
}

.map-collapse-button {
    width: 15px;
    height: 100%;
    text-align: center;
    font-size: large;
}
.map-collapse-button:hover {
    background-color: lightgray;
    transition: 0.2s;
}
