.planView {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 3px;
}

.listView:nth-child(odd) {
  background: lightgrey;
  border-bottom: 1px solid black;
}

.listView:nth-child(even) {
  border-bottom: 1px solid black;
}
