.profile {
  background-color: white;
  width: 70vw;
  max-width: 800px;
  /* min-width: 100vw; */
  min-height: 200px;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.tabs-container {
  text-align: center;
}

.head-profile {
  /* flex-grow: 2; */
  width: 35vw;
  height: 35vw;
  max-width: 150px;
  max-height: 150px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 15px;
}

#profile-right {
  margin-left: 10%;
}

@media only screen and (max-width: 600px) {
  #profile-right {
    margin-left: 0;
  }
}

#nameAndEditProfile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#person-name {
  margin-top: 10px;
  float: left;
  font-size: 18px;
  /* margin-left: 20px; */
  font-weight: bold;
}
.edit-profile {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  padding: 5px;
}

.text-description {
  width: 60%;
  min-height: 100px;
  /* width: 350px;
  height: 150px; */
  padding-top: 20px;
  text-align: left;
  /* padding-left: 20px; */
}

.post {
  padding-top: 20px;
  position: relative;
  /* padding-top: 20px; */
  float: left;
  margin-left: 20px;
}

.plan-tab {
  width: 100vw;
  margin: auto;
}