.profile {
  background-color: white;
  width: 60%;
  min-height: 200px;
  margin: auto;
  display: flex;
  border-bottom: 1px solid gainsboro;
}

.tabs-container {
  text-align: center;
}

.head-profile {
  /* flex-grow: 2; */
  width: 150px;
  height: 150px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 15px;
}


#nameAndEditProfile {
  display: flex;
  align-items: center;
}

#person-name {
  margin-top: 10px;
  float: left;
  font-size: 18px;
  margin-left: 20px;
  font-weight: bold;
}
.edit-profile {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  padding: 5px;
  background: lightgray;
  /* box-shadow: 0 2px #999; */
  /* border-radius: 10px; */
}

.edit-profile:hover {
  background: black;
  color: white;
}
.text-description {
  /* width: 60%;
  height: 20%; */
  width: 350px;
  height: 150px;
  padding-top: 20px;
  text-align: left;
  padding-left: 20px;
  margin: auto;
}

.post {
  padding-top: 20px;
  position: relative;
  /* padding-top: 20px; */
  float: left;
  margin-left: 20px;
}

.plan-tab {
  width: 900px;
  margin: auto;
}