.search-card {
    background-color: white;
    border-radius: 5%;
    height: 350px;
    width: 400px;
    margin-top: 100px;
    margin-left: 10%;
    box-shadow: 3px 3px 10px #484848;
}

.search-card > div {
    padding: 32px;
}

.search-card-title {
    font-size: 30px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 20px;
}

.search-card-item {
    margin: 20px 0;

}

.date-items label{
    display: inline-block;
    margin-right: 10px;
}

.search-card .submit-button {
    margin-top: 40px;
}