.sidebar-component {
    margin: 10px;
    padding: 20px;
    border-bottom: solid 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-description-and-button {
    margin-left: 20px;
}

.sidebar-description {
    height: 88px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.add-to-trip-button {
    float: right;
}


