@import 'styles/app.css';
@import 'styles/landing.css';
@import 'styles/search-card.css';
@import 'styles/search-bar.css';
@import 'styles/experience-header.css';
@import 'styles/experience.css';
@import 'styles/top-nav-bar.css';
@import '~antd/dist/antd.css';
@import '~react-datepicker/dist/react-datepicker.css';



body {
  margin: 0;
  font-family: "Circular", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
